{% extends 'base.html.twig' %}

{% block title %}Galerie d'image - Recrutement Home-Viewer{% endblock %}

{% block stylesheets %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
.pull-right
{
  float: right!important;
}
.gallery
{
  display: flex;
  flex-wrap: wrap;
}

.gallery .image, .gallery .upload-box-container
{
  flex-basis: 24%;
  text-align: center;
  margin: 5px 0.5%;
  box-shadow: 1px 5px 10px -2px;
  position: relative;
}
.gallery .image img
{
  max-width: 100%;
  max-height: 80%;
}
.gallery .image p
{
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
}

.gallery .image .image-del {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.gallery .image .image-del:hover {
  opacity: 1;
}

.gallery .image .image-del-background {
  height: 100%;
  width: 100%;
  background-color: rgb(52, 149, 235);
  opacity: 0.5;
}

.gallery .image-del a {
  color: white;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.gallery .image-del a.delete {
  top: 60%; left: 50%;
  transform: translate(-50%, -50%);
}

.gallery .image-del a.show {
  top: 30%; left: 50%;
  transform: translate(-50%, -50%);
}

.modal-dialog.modal-lg {
  max-width: 100vw;
}

.modal-body img {
  max-height: 100%;
  max-width: 100%;
}

.upload-box
{
  background-color: #eee;
  padding: 10px;
}
</style>
{% endblock %}

{% block body %}
<div class="card">
  <div class="card-header">
    <div class="pull-right">
      <select class="form-control" id="galleryChoice">
        <option value="0" selected>Galerie principale</option>
        <option value="1">Autre galerie(extra)</option>
      </select>
    </div>
    Galerie d'images - Recrutement Home-Viewer
  </div>
  <div class="card-body">
    <div class="gallery">
      {% for galleryImage in galleryImages %}
        <div class="image" id="{{ galleryImage.getId() }}">
          <div class="image-del">
            <a type="button" class="btn btn-dark delete" id="buttonDel{{ galleryImage.getId() }}" onclick="delEvent(this)">Supprimer</a>
            <a type="button" class="btn btn-dark show" id="buttonShow{{ galleryImage.getId() }}" onclick="show(this)">Agrandir</a>
            <div class="image-del-background"></div>
          </div>
          <img src="{{ asset('/uploads/' ~ galleryImage.getName()) }}">
          <p>{{ galleryImage.getAliases() }}</p>
        </div>

        <div class="modal" id="modal{{ galleryImage.getId() }}" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{ galleryImage.getAliases() }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="{{ asset('/uploads/' ~ galleryImage.getName()) }}">
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="upload-box-container">
        <div class="upload-box drop-zone" id="dropfile">
          <form  action="upload" id="fileupload" method="post" enctype="multipart/form-data">
            <i class="fa fa-cloud-upload fa-5x"></i><br>
            Drag and drop pictures here<br>or<br>
            <label class="btn btn-primary">
              Choose files <input id="file" type="file" name="image" hidden multiple="multiple">
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

  <script>
    function delEvent(elem){
      var id = parseInt($(elem).attr("id").substr(9),10);
      $.ajax({
        type: "POST",
        url: "{{ path('delete') }}",
        data : {"id": id},
        success: function(data){
          $('.alert').remove();
          $("#"+id).remove();
          $('.card-body').append('<div class="alert alert-info" role="alert"> L\'image ' + data["aliases"] + ' a été correctement supprimé.</div>');
        },
      });
    }

    $('#file').change(function() {
      var files = $('#file')[0].files[0];
      uploadAction(files);
    });

    function show(elem) {
      var id = parseInt($(elem).attr("id").substr(10),10);
      $("#modal"+id.toString()).modal();
    }

    function uploadAction(files) {
      var fd = new FormData;
      fd.append("image", files);
      $.ajax({
        url: "{{ path('upload') }}",
        type: "post",
        data: fd,
        contentType: false,
        processData: false,
        cache: false,
        success: function (data) {
          $('.alert').remove();
          if (data['error'] === 'none') {
            console.log(data);
            $(".gallery .upload-box-container").before(
                    '<div class="image" id=' + data["id"] + '> <div class="image-del"> <a type="button" class=\"btn btn-dark delete\" id=\"buttonDel' + data["id"] + '\" onclick=\"delEvent(this)\">Supprimer</a>' +
                    '<a type="button" class=\"btn btn-dark show\" id=\"buttonShow' + data["id"] + '\" onclick=\"show(this)\">Agrandir</a> <div class="image-del-background"></div></div>' +
                    '<img src=\"/uploads/' + data["name"] + '\">' +
                    '<p>' + data["aliases"] + '</p></div>' +
                    '<div class="modal" id=\"modal'+ data["id"] +'\" tabindex="-1" role="dialog">' +
                    '<div class="modal-dialog modal-lg" role="document">' +
                    '<div class="modal-content">' +
                    '<div class="modal-header">' +
                    '<h5 class="modal-title">' + data["aliases"] +'</h5>' +
                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                    '<span aria-hidden="true">&times;</span>' +
                    '</button>' +
                    '</div>' +
                    '<div class="modal-body">' +
                    '<img src=\"/uploads/' + data["name"] + '\">' +
                    '</div></div></div></div>'
            );
            $('.card-body').append('<div class="alert alert-success" role="alert"> L\'image ' + data["aliases"] + ' a bien été uploadé !</div>');
          } else if (data['error'] === 'Invalid image type') {
            $('.card-body').append('<div class="alert alert-danger" role="alert"> Uniquement les fichiers avec les extensions : jpg, jpeg, png sont uploadable</div>');
          }
        }
      });
    }

    $(document).on('dragenter', '#dropfile', function() {
      $(this).css('border', '2px dashed black');
      return false;
    });

    $(document).on('dragover', '#dropfile', function(e){
      $(this).css('border', '2px dashed black');
      e.preventDefault();
      e.stopPropagation();
      return false;
    });

    $(document).on('dragleave', '#dropfile', function(e) {
      $(this).css('border', '2px dashed black');
      return false;
    });

    $(document).on('drop', '#dropfile', function(e) {
        e.preventDefault();
        e.stopPropagation();
        // Main function to upload
        uploadAction(e.originalEvent.dataTransfer.files[0]);
      });

    $("select").change(function(){
      var selectedGallery = $(this).children("option:selected").val();
      if(selectedGallery === 1){

      }
      else {

      }
    });

  </script>
{% endblock %}
